spacy==3.0.6
spacy-nightly==3.0.0rc5
transformers==4.9.2
transformers==4.9.2
PyPDF2==1.26.0
PyMuPDF==1.19.4
dash
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_extensions
dash_bootstrap_components
jupyter_dash==0.4.0
pyngrok